#KEBRITI
{
    min-width: 200px;
    min-height: 150px;
    max-width: 250px;
    max-height: 250px;
    border:  5px solid red;
    border-radius: 10px;
    margin:  15px 15px 5px;
}
#BAUDOY{
    min-width: 200px;
    min-height: 150px;
    max-width: 250px;
    max-height: 250px;
    border:  5px solid blue;
    border-radius: 10px;
    margin:  15px 15px 5px;
}